@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

::selection {
    color: #22423D;
}

.logoDiv {
    display: flex;
    cursor: pointer;
}

.jeiku {
    color: #22423D;
}

.dev {
    color: #FF3131;
}

header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding:  0.9rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #22423D;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
    cursor: pointer;
}

.searh a{
    font-size: 1.0rem;
    padding: 0 3rem;
}

.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: #22423D;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before, .hamburger .bar::after {
    content: "";
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburger .bar::before{
    top: -4.5px;
}

.hamburger .bar::after{
    top: 4.5px;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.parallax {
    pointer-events: none; 
    transition: 0.45s cubic-bezier(.06,.55,.5,1.01);
}

.bg-img {
    position: absolute;
    width: 2810px;
    top: 50%;
    left: 50%;
    z-index: 1;
}

.brushpaint {
    position: absolute;
    width: 510px;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    z-index: 2;
}

.text {
    position: absolute;
    color: #22423D;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    pointer-events: auto;
    z-index: 3;
}

.arrow {
    position: absolute;
    font-size: large;
    top: calc(50% - -50px);
    left: calc(50% - -45px);
    color: #FF3131;
    z-index: 4;
    cursor: pointer;
    pointer-events: auto;
    transition: all 0.3s;
}

.arrow:hover {
    color: rgb(79, 171, 79);
    font-size: x-large;
    top: calc(50% - -44px);
    left: calc(50% - -40px);
}

.bgme-img {
    position: absolute;
    width: 230px;
    top: calc(50% - 75px);
    left: calc(50% - -300px);
    border-radius: 25px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: 4;
}

.face {
    position: absolute;
    width: 265px;
    top: calc(50% - 75px);
    left: calc(50% - -305px);
    border-radius: 25px;
    filter: drop-shadow(10px 5px 20px #22423D);
    z-index: 5;
}

.socials {
    position: absolute;
    width: 265px;
    height: 40px;
    top: calc(50% - -15px);
    left: calc(50% - +325px);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 6;
    cursor: pointer;
    pointer-events: auto;
    
}

.socials h1 {
    font-weight: 350;
    color: rgba(1, 1, 1, 0.5);
}

.socials i {
    color: #22423D;
    font-size: 27px;
    padding-left: 13px;
    transition: all 0.3s;
}

.socials i:hover {
    color: #FF3131;
    border-radius: 25px;
    filter: drop-shadow(5px 2px 0px #C7EBF2);
    transform: translateY(-10px);
}

.text .softwareDevText {
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    letter-spacing: 3px;
    line-height: 45px;
    text-transform: uppercase;
    font-size: 25px;
}

.text .softwareDevText .sd-2 {
    color: #FF3131;
}

.text h2{
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

@media (max-width: 1100px) {
    .text .softwareDevText h1{
        font-size: 3rem;
    }

    .text .softwareDevText h2 {
        font-size: 1rem;
    }
}

@media (max-width: 725px) {
    .text .softwareDevText h1{
        font-size: 3rem;
    }

    .text .softwareDevText h2 {
        font-size: 1rem;
        line-height: 1.1;
    }

    header nav {
        padding: 0 1rem;
    }

    .logoDiv {
        width: 75px;
    }

    header ul a {
        font-size: 0.73rem;
        padding: 0 0.9rem;
    }

    .searh a {
        font-size: 0.85rem;
        padding: 0 1.8rem;
    }

    .hamburger a {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 520px) {
    .text .softwareDevText h1{
        font-size: 1rem;
    }

    .text .softwareDevText h2 {
        font-size: 0.9rem;
    }
}